body {
  margin-bottom: 10em;
}

a {
  color: teal;
}

.center {
  text-align: center;
}

.btn {
  display: block;
  width: fit-content;
  margin: 1em auto;
  padding: 1em 2em;
  background-color: white;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 2px;
  /* border-radius: 5em; */
  box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.267);
  transition: 0.3s;
}

.btn:hover {
  text-decoration: underline;
}

.btn:focus {
  box-shadow: 0em 0em 0.1em rgba(0, 0, 0, 0.5);
}

video {
  max-width: 75%;
}