:root {
  --fontsize: 1em;
  --dark: rgb(128, 128, 128);
  --darkgray: rgb(64, 64, 64);
  --gray: rgb(92, 92, 92);
  --lightgray: rgb(128, 128, 128);
}

html {
  font-family: serif;
}

body {
  margin: 0 auto;
  max-width: 640px;
  font-size: var(--fontsize);
  letter-spacing: 0.05em;
  height: 100%;
  width: 100%;
  background-color: var(--dark);
  color: white;
}

#navbar {
  width: 100%;
  height: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: white;
  color: black;
}

#logo {
  text-decoration: none;
  padding-left: 1em;
  /* width: 2em; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: white; */
  font-weight: bold;
}

.tab {
  background-color: var(--dark);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#otherTab {
  /* flex-grow: 1; */
  /* font-size: 12px; */
  /* width: fit-content; */
  background: none;
  font-weight: bold;
  color: white;
}

#message {
  font-size: var(--fontsize);
  letter-spacing: 0.05em;
  padding-right: var(--fontsize);
}

#watcher {
  display: none;
  width: 100%;
  color: white;
}

#reader {
  width: 100%;
  background-color: var(--dark);
  color: white;
}

input {
  margin: 0;
  height: inherit;
  border: none;
  box-shadow: inset 0px 0px 0px 0px var(--dark);
  box-sizing: border-box;
  padding: 0.5em;
  font-family: serif;
  font-size: var(--fontsize);
  letter-spacing: 0.05em;
  background-color: var(--darkgray);
  color: white;
}

.btn {
  margin: 0;
  box-shadow: inset 0px 0px 0px 24px var(--gray);
  text-transform: lowercase;
  box-sizing: border-box;
  /* background-color: var(--gray); */
  color: black;
  font-weight: bold;
}

.btn:hover {
  transition: 0.3s;
  box-shadow: inset 0px 0px 0px 1px var(--gray);
  color: white;
  /* background-color: var(--lightgray); */
}

#id {
  flex-grow: 3;
}

#meta {
  width: 100%;
}

#content {
  /* margin: 2px; */
  font-family: serif;
  padding: 48px;
  box-shadow: inset 0px 0px 0px 1px black;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: var(--fontsize);
  letter-spacing: 0.05em;
  resize: vertical;
  background-color: var(--darkgray);
  color: white;
}

#controls {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  /* padding: 0.3em; */
  background-color: var(--dark);
  color: white;
}

#controls div {
  flex-grow: 1;
  /* margin: 0; */
  text-align: center;
  padding: 0.5em;
  /* box-shadow: inset 0px 0px 1px 1px var(--edge); */
  min-width: 80px;
  cursor: pointer;
}

.info {
  flex-grow: 0;
  width: fit-content;
  color: gray;
}

#itemTemplate {
  margin-bottom: 0.5em;
  padding: 0.3em;
  cursor: pointer;
  display: flex;
  border-bottom: 1px solid var(--edge);
  background-color: var(--darkgray);
  align-items: center;
}